/*@font-face {
    font-family: 'Lucida Console', Monaco, monospace;
}*/

@font-face {
  font-family: 'Furore';
  src: url("assets/fonts/furore/furore.otf");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

html {
	width: 100%;
	height: 100%;
}

html, body {
  overflow-x: hidden;
	overflow-y: hidden;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
  padding: 0;
	background-color: #000;
  font-family: 'Furore';
  letter-spacing: 1px;
  font-size: 62.5%;  
  text-shadow: 2px 2px 2px black;
}

input, button {
  font: inherit;    
  text-shadow: 2px 2px 2px black;
}

.no-select { 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

/* Do not over use this. Maybe only required in parent element? */
.gpu {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    /*-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);*/
/*    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    box-shadow: 0 0 0 #000;
    -webkit-box-shadow: 0 0 0 #000;
    -moz-box-shadow: 0 0 0 #000;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* -- Menu Background -- */
#menuBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9000;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: none;
}

/* -- Touch input area -- */
#inputarea {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9000;
    background-color: transparent;
}

/* -- UI -- */
#fader {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
    background-color: black;
}

canvas {
	position: absolute;
	top: 0px;					/* drawing the canvases on top of each other and making them transparent */
	left: 0px;
	height: 100%;
	width: 100%;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: crisp-edges;               /* FF 6.0+                       */
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	/*zoom: 1;		*/
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	/*filter: alpha(opacity=1);*/
	/* Older than Firefox 0.9 */
	/*-moz-opacity: 1;*/
	/* Safari 1.x (pre WebKit!) */
	/*-khtml-opacity: 1;*/
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	/*opacity: 1;*/
	/*max-width:calc((16/9)*100vh);*/
	/* more specific animation properties here */
/*  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; /* old android browsers fix */
}

/*#levelBackground {
    position: absolute;
    background-repeat: repeat-y;
    box-shadow:0 0 1px rgba(0,0,0,0.7);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-perspective: 1000;
    perspective: 1000;
}*/

#enemiesCanvas { z-index: 2 }
#playerCanvas { z-index: 3 }


/* -- UI -- */
#ui {
    position: absolute;
    height: 5%;
    width: 100%;
    margin-left: 2%;
    opacity: 1;
    display: none;
    z-index: 9999;
}

.ui-item {
  position: absolute;
  display: inline-block;
  height: 100%;
  color: #FFC619;
  background-color: transparent;
  z-index: 9999;  
}

#uiLevel {  
  margin-top: 2%;
  width: 15%;
  right: 84%;
}

#uiScore {  
  margin-top: 2%;
  width: 20%;
  right: 62%;  
}

#uiEContainer {
  width: 30%;
  top: -10%;
  right: 32%;
}

#uiEBarContainer {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 1; 
}

#uiEBarMask {
  position: absolute;
  height: 50%;
  width: 68%;
  top: 26%;
  left: 16%;
  background-color: transparent;
  z-index: 0;
}

#uiEBarText {
  position: absolute;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.4;
  z-index: 1;
}

#uiEBar {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 0;
}

.eBar-blue {
  background-image: url('assets/images/ePoint_blue.png');
}

.eBar-yellow {
  background-image: url('assets/images/ePoint_yellow.png');
}

.eBar-red {
  background-image: url('assets/images/ePoint_red.png');
}

#uiHangar {
  height: 100%;
  width: 15%;
  right: 13%;
  margin-top: 1.5%;
}

#uiHangar ul {
  width: 100%;
  height: 100%;
}

#uiHangar ul li {  
  display: inline-block;
  width: 25%;
  height: 65%;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100%;
}

#uiBtnContainer {
  margin-top: 1.5%;
  width: 10%;
  right: 2%;
}

/* UI MENU BUTTON */
#toggle-menu-btn {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-color: transparent;
  z-index: 9999;
}

/*toggle-menu-btn icon*/
#toggle-menu-btn > i {
  display: inline;
  float: left;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-size: 150%;
  color: #3187A3;
}


/* -- TEXT MESSAGES -- */
#textContainer {
    position: absolute;
    height: 35%;
    width: 100%;
    top: 32%;
    background-color: transparent;
    opacity: 1;
}

.all-text {
  position: relative;
  display: block;
  background-color: transparent;
  color: #FFC619;
  /*margin: 0em 0em 0em 0em;*/
  padding: 30px 15px;
  /*margin: 0.2rem 0.2rem 0.2rem;*/
  text-transform: none;
  font-weight: bold;
  /*line-height: 1em;*/
  font-style: normal;
  text-align: center;
  text-decoration: none;
  display: none;
  z-index: 6; 
}

#loadingBar {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 45%;   
  background-color: transparent;
  opacity: 1;
  display: none;
  z-index: 9997;
}

#loadingBarContainer {
  position: absolute;
  width: 60%;
  height: 80%;
  left: 20%;   
  border: #FFFFFF 2px;
  border-style: solid;
  border-radius: 25px;
  background-color: transparent;
  z-index: 9996;
}

#loadingBarMask {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 6%;
  left: 20.5%;
  z-index: 1;
}

#loadingBarFiller {
  position: absolute;
  width: 0%;
  height: 100%;
  border: transparent 2px;
  border-radius: 28px;
  background-color: #FFC619;
  opacity: 1;
  z-index: 0;
}

.btn {
  cursor: pointer;
  position: relative;
  display: none;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  margin: 0em 0em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  z-index: 9000;
  /*-webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
          transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;*/
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-backface-visibility: hidden; /* old android browsers fix */
}


/* MENU OPTION BUTTONS */
.menu-option-btn {
	position: relative;
	top: 40%;
	margin-bottom: 2%;
	border: #FFFFFF 1px;
	border-style: solid; 
	background-color: #264d92;
	color: #FFFFFF;
  opacity: 0;
}

.menu-option-btn.active {
  background-color: #21ba45;
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
}

.menu-option-btn.active:hover {
  background-color: #16ab39;
  text-shadow: none;
  color: #ffffff;
}

.menu-option-btn[pos="left"] {
	right: 15%;
}

.menu-option-btn[pos="right"] {
	left: 85%;
}


@media (max-width: 991px) {

  #gamearea {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
  }

  #menuBackground {
    background-image: url('assets/images/intro_bg_m.jpg');
  }

/*  @keyframes MOVE-BG {
    from {
      transform: translateY(0) rotate(0deg);
    }
    to { 
      transform: translateY(2560px) rotate(0.001deg);
    }
  }

  @-webkit-keyframes MOVE-BG {
    from {
      -webkit-transform: translateY(0) rotate(0deg);
    }
    to { 
      -webkit-transform: translateY(2560px) rotate(0.001deg);
    }
  }*/

/*  .level1 {
    top: -2560px;
    background: url('assets/images/level1_m.jpg');
    background-size: 360px 2560px;
  }

  .level2 {
    top: -2560px;
    background: url('assets/images/level1_m.jpg');
    background-size: 360px 2560px;
  }

  .level3 {
    top: -2560px;
    background: url('assets/images/level1_m.jpg');
    background-size: 360px 2560px;
  }*/

/*  .level1 {
    top: -2560px;
    background: url('assets/images/level1_m.jpg') 0% 0% repeat;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;*/

/*    animation-name: MOVE-BG;
    -webkit-animation-name: MOVE-BG;
    animation-duration: 25s;
    -webkit-animation-duration: 25s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;   */ 

/*  .level2 {
    top: -2560px;    
    background: url('assets/images/level1_m.jpg') 0% 0% repeat;

    animation-name: MOVE-BG;
    -webkit-animation-name: MOVE-BG;
    animation-duration: 25s;
    -webkit-animation-duration: 25s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  .level3 {
    top: -2560px;
    background: url('assets/images/level1_m.jpg') 0% 0% repeat;
    animation-name: MOVE-BG;
    -webkit-animation-name: MOVE-BG;
    animation-duration: 25s;
    -webkit-animation-duration: 25s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }*/

	.menu-option-btn {
		width: 40%;
    font-size: 12px;
	}
	
	/*Note: the menu-option-btn pos% should be half of the buttons width*/
	.menu-option-btn[pos="left"] {
		right: 20%;
	}

	.menu-option-btn[pos="right"] {
		left: 80%;
	}

  #h1 {
  height: 18px;
  font-size: 20px;
  }

  #h2 {
    height: 15px;
    font-size: 14px;
  }

  #h3 {
    height: 10px;
    font-size: 10px;  
    color: #FFFFFF;
  }

  .ui-item {
    font-size: 8px;
  }

  #uiHangar ul li {
    background-image: url('assets/images/fighter_m.png');
  }

  #uiEBarContainer {
    background-image: url('assets/images/energyBar_m.png'); 
  }

  #uiEBarText { 
    height: 94%;
    padding-top: 6%;
    font-size: 6px;
  }

  #toggle-menu-btn {
    font-size: 14px;
  }

}

@media (min-width: 992px) {

	#gamearea {
		position: absolute;
		height: 100%;
		width: 33.333%;
		left: 33.333%;
	}

  #menuBackground {
    background-image: url('assets/images/intro_bg.jpg');
  }

  /*.level1 {
    top: -5120px;
    background: url('assets/images/level1.jpg');
    background-size: 720px 5120px;
  }

  .level2 {
    top: -5120px;
    background: url('assets/images/level1.jpg');
    background-size: 720px 5120px;
  }

  .level3 {
    top: -5120px;
    background: url('assets/images/level1.jpg');
    background-size: 720px 5120px;
  }  */

	.menu-option-btn {
		width: 30%;
    font-size: 14px;
	}
	
	/*Note: the menu-option-btn pos% should be half of the buttons width*/
	.menu-option-btn[pos="left"] {
		right: 15%;
	}

	.menu-option-btn[pos="right"] {
		left: 85%;
	}

  #h1 {
  height: 28px;
  font-size: 26px;
  }

  #h2 {
    height: 22px;
    font-size: 20px;
  }

  #h3 {
    height: 18px;
    font-size: 16px;  
    color: #FFFFFF;
  }

  .ui-item {
    font-size: 11px;
  }

  #uiHangar ul li {
    background-image: url('assets/images/fighter.png');
  }

  #uiEBarContainer {
    background-image: url('assets/images/energyBar.png'); 
  }

  #uiEBarText {
    height: 96%;
    padding-top: 4%;
    font-size: 12px;
  }

  #toggle-menu-btn {
    font-size: 18px;
  }

}

/*******************************
             Pulse
*******************************/

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*******************************
             Icon
*******************************/

@font-face {
  font-family: 'Icons';
  src: url("assets/fonts/icons/icons.eot");
  src: url("assets/fonts/icons/icons.eot?#iefix") format('embedded-opentype'), url("assets/fonts/icons/icons.woff2") format('woff2'), url("assets/fonts/icons/icons.woff") format('woff'), url("assets/fonts/icons/icons.ttf") format('truetype'), url("assets/fonts/icons/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

i.icon:before {
  background: none;
}

/*******************************
             Icons
*******************************/

i.icon.settings:before {
  content: "\f085";
}

i.icon.options:before {
  content: "\f1de";
}

i.icon.sound:before {
  content: "\f025";
}

i.icon.music:before {
  content: "\f001";
}

i.icon.volume.off:before {
  content: "\f026";
}

i.icon.volume.down:before {
  content: "\f027";
}
i.icon.volume.up:before {
  content: "\f028";
}